.edit__profile_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.edit__profile_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 807px;
  height: 463px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 251, 238, 1);
  border-radius: 32px;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  min-width: 500px;
}

.edit__profile_title {
  font-size: 64px;
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
  margin: 71px 0 0 32px;
  text-align: left;
  color: #000;
}

.edit__profile_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.edit__profile_avatar-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.edit__profile_avatar-container {
  position: relative;

  cursor: pointer;
}

.edit__profile_avatar {
  width: 223px;
  height: 223px;
  margin-left: 16px;
  object-fit: cover;
  border-radius: 50%;
}

.edit__profile_file-input {
  display: none;
}

.edit__profile_avatar-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.edit__profile_avatar-label {
  width: 223px;
  border-radius: 0 0 75% 75%;
  margin-left: 16px;
  bottom: 80px;
}
.edit__profile_avatar-container:hover .edit__profile_avatar-overlay {
  opacity: 1;
}

.edit__profile_input-section {
  width: 100%;
}

.edit__profile_name-input {
  width: 520px;
  height: 51px;
  padding-left: 16px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background-color: #d3d3d3;
  color: #000000;
  outline: none;
  font-family: inherit;
}

.edit__profile_name-input::placeholder {
  color: #888;
}

.edit__profile_save-button {
  width: 200px;
  display: flex;
  height: 55px;
  position: relative;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 44px;
  background: linear-gradient(180deg, #50c878 0%, #317949 100%);
  font-family: "Balsamiq Sans", -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px -2px 0px 2px rgba(0, 0, 0, 0.5) inset;
  transition: transform 0.2s ease;
}

.edit__profile_save-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.edit__profile_save-button:active {
  transform: translateY(0);
}
.edit__profile_close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 27px;
  cursor: pointer;
  color: rgba(24, 74, 69, 1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
