.header {
  width: 100%;
  max-width: 880px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
  top: 0;
  z-index: 100;
  display: flex;
  margin: 0 auto 2em;
  padding: 1em;
}

.header__title {
  color: #333;
  margin: 0;
}
