.header {
  /* width: 1440px; */
  background: transparent;
  margin: 0 0;
  padding: 0 36px 0 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  width: 457px;
  position: relative;
  height: 97px;
  object-fit: contain;
  margin: 16px 0;
}

.header__date-time {
  font-family: "Balsamiq Sans", -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: 0px;
}
.header__container {
  display: flex;
  gap: 64px;
}

@media (max-width: 778px) {
  .header__title {
    width: 350px;
    height: 87px;
    margin: 12px 0;
  }

  .header__date-time {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
  }
}

@media (max-width: 570px) {
  .header {
    justify-content: center;
    padding: 0;
  }

  .header__date-time {
    display: none;
  }
}

@media (max-width: 360px) {
  .header__title {
    width: 326px;
  }
}
