.header {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: transparent;
  padding: 1.5rem 2rem;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  color: #333;
  margin: 0;
  float: left;
}
.header__button--primary {
  background: #646cff;
  color: white;
}

.header__button--primary:hover {
  background: #535bf2;
}
