.footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: transparent;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #000000;
  font-size: 0.9rem;
}

.footer__text {
  margin: 0;
}
